[MESSAGES CONTROL]
disable=import-error,too-many-lines,too-many-instance-attributes,too-many-branches,too-many-statements,too-many-locals,too-many-nested-blocks,too-few-public-methods,broad-exception-caught

[FORMAT]
max-line-length=100